@import"./variavel.css";


.header img {
    width: 130px;
    cursor: pointer;
  }
  .header{
    width: 100%;
    background-color: var(--color-background);
    position: fixed;
    z-index: 1000;
    padding: 1rem 0;
    @media  (max-width: 768px){
        padding:17px 16px;
    }
  }
  .container_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    box-shadow: 0px 1px 5px #fff;
    
  }
  .lista-nav a {
    color: #6096b4;
  }
  .lista-nav :hover {
    color: #191717;
  }
  
  .lista-nav {
    font-family: var(--font-family);
    display: flex;
    gap: 3rem;
    padding-right: 3rem;
  }
  .menu__hamburquer_img{
    width: 2em !important; 
    display: none !important;
    @media (max-width: 768px){
        display: block !important;
        padding-right: 3rem;
    }
  }
  
  .menu-list {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .menu-list-active {
    display: flex;
    position: absolute;
    width: 100vw;
    background: var(--color-font);
    left: 0;
    top: 128px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0 35px 16px;
    height:100vw;
  }
