@import "../style/variavel.css";
@import "../style/header.css";
@import"../style/footer.css";
/*navbar*/



/*banner*/
.banner {
  padding-top: 9rem;
}
.swiper-slide img {
  width: 100%;
}

/*produtos*/

.produto__geral{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  padding: 2rem 0;
}
.card_produtos img {
  width: 150px;
}
.card_produtos {
  font-family: var(--font-family);
  background-color: #fff;
  width: 250px;
  padding: 1rem;
  text-align: center;
  border-radius: 15px 0 15px 0;
}
.titulo {
  font-size: 28px;
  padding: 1rem 0;
}
.descricao {
  color: var(--color-descricao);
}
.preco{
    background-color:#6096b4;
    color: var(--color-background);
    border-radius: 5px 0 5px 0;
    margin: 1rem 0;
}
.preco :hover{
    transform: scale(1.08);
    transition: all 0.3s;
    background-color: #abcde0;
}
/*footer*/



@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*navbar*/
  .header {
    width: 100%;
    overflow: hidden;
  }
  /*banner*/
  .banner {
    padding-top: 9.5rem;
  }
  /*produtos*/
  .produtos {
    width: 100%;
    gap: 1rem;
    column-gap: 2rem;
    text-align: center;
    align-items: center;
  }
  .card_produtos img {
    width: 200px;
  }
  .card_produtos {
    width: 250px;
  }
  .redesSociais {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  /*navbar*/
  .lista-nav {
    font-size: 0.8rem;
    gap: 1rem;
  }
  .header img {
    width: 100px;
  }

  .header {
    width: 100%;
    gap: 2rem;
  }
  /*banner*/

  .banner {
    padding-top: 8rem;
  }
  .swiper-pagination{
    display: none;
  }
  /*produtos*/
  .produtos {
    width: 100vw;
    gap: 1rem;
    column-gap: 2rem;
  }
  .card_produtos img {
    width: 200px;
  }
  .card_produtos {
    width: 300px;
    padding: 1rem;
    margin: 0;
    padding: 0.5rem;
  }
  .container_footer {
    flex-direction: column;
  }
}
